html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.file-manager .table-responsive {
    height: 400px;
    overflow-y: auto;
}

table {
   width: 100%;
   min-width: 400px;
}

td.td-image {
    width: 37%;
}

td div {
    height: 120px;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

input.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

input.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.file-manager-btn
{
    padding: 4px;
    line-height: 1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}